.feedback {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  font-size: 0;
    &__block {
      padding-top: 17px;
      padding-bottom: 23px;
      width: 100%;
      border-top: 1px solid #e5e5e5;
        &:nth-of-type(3) {
          padding-bottom: 8px;
        }
        &--attraction .feedback__wrapper {
          margin-bottom: 12px;
        }
        &:nth-of-type(6) {
          padding-bottom: 10px;
        }
    }
    &__doublet {
      padding-bottom: 15px;
        &--last-in-block {
          padding-bottom: 0;
        }
    }
    &__wrapper {
      margin: 0;
      margin-bottom: 25px;
        .feedback__block:last-of-type & {
          margin-bottom: 20px;
        }
    }
    &__group {
      &--bottom {
        margin-bottom: 35px;
      }
    }
    &__title {
      margin: 0;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      color: #000000;
      font-weight: bold;
      font-family: "PT Sans", "Verdana", sans-serif;
      text-transform: uppercase;
    }
    &__name-label {
      .label();
    }
    &__name-input {
      .input();
    }
    &__required {
      color: #ff0000;
    }
    &__impression-label {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 0;
      margin-bottom: 15px;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 80px;
      width: 100%;
      font-size: 18px;
      line-height: 26px;
      color: #000000;
      font-weight: bold;
      font-family: "PT Sans", "Verdana", sans-serif;
      text-transform: none;
      cursor: pointer;
        &:last-of-type {
          margin-bottom: 0;
        }
    }
    input[type="radio"] {
      display: none;
        & + .feedback__impression-label::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 22px;
          height: 22px;
          background-color:#f2f2f2;
          border-radius: 50%;
          border: 16px solid #f2f2f2;
        }
        & + .feedback__impression-label:hover::before {
          background-color: #e5e5e5;
          border-color: #e5e5e5;
        }
        & + .feedback__impression-label:active::before{
          background-color: #d5d5d5;
          border-color: #d5d5d5;
        }
        &:checked + .feedback__impression-label::before{
          background-color: #333333;
        }
        &:checked + .feedback__impression-label:hover::before {
          background-color: #333333;
          border-color: #e5e5e5;
        }
        &:checked + .feedback__impression-label:active::before{
          background-color: #a4a4a4;
          border-color: #d5d5d5;
        }
    }
    &__arrival-date-label {
      .label();
    }
    &__arrival-date-input {
      .input();
    }
    &__text {
      box-sizing: border-box;
      margin: 0;
      margin-bottom: 9px;
      padding-left: 22px;
      font-size: 14px;
      line-height: 26px;
      color: #333333;
      font-weight: normal;
      font-family: "PT Sans", "Verdana", sans-serif;
      text-transform: uppercase;
    }
    &__departure-date-label {
      .label();
    }
    &__departure-date-input {
      .input();
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &__attraction-input {
      display: none;
        & + .feedback__attraction-label::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 56px;
          height: 56px;
          background-color:#f2f2f2;
          border-radius: 5px;
        }
        &:checked + .feedback__attraction-label::after{
          content: "";
          position: absolute;
          top: 20px;
          left: 15px;
          width: 21px;
          height: 7px;
          border-bottom: 5px solid #333333;
          border-left: 5px solid #333333;
          transform: rotate(-45deg);
        }
        & + .feedback__attraction-label:hover::before {
          background-color: #e5e5e5;
        }
        & + .feedback__attraction-label:active::before{
          background-color: #d5d5d5;
        }
    }
    &__attraction-label {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 0;
      margin-bottom: 24px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 80px;
      width: 100%;
      font-size: 18px;
      line-height: 26px;
      color: #000000;
      font-weight: bold;
      font-family: "PT Sans", "Verdana", sans-serif;
      text-transform: none;
      cursor: pointer;
        &:last-of-type {
          margin-bottom: 0;
        }
    }
    &__download-input {
      display: none;
    }
    &__download-label {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 auto;
      margin-bottom: 55px;
      padding: 19px 10px;
      width: 100%;
      text-align: center;
      font-size: 21px;
      line-height: 21px;
      color: rgba(51, 51, 51, 0.3);
      font-weight: bold;
      font-family: "PT Sans", "Verdana", sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      background-color: #f2f2f2;
        &:hover {
          color: #8c8c8c;
          background-color: #e5e5e5;
        }
        &:active {
          color: #c4c4c4;
          background-color: #d5d5d5;
        }
    }
    &__send {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 auto;
      margin-bottom: 80px;
      padding: 19px 10px;
      width: 100%;
      text-align: center;
      font-size: 21px;
      line-height: 21px;
      color: #ffffff;
      font-weight: bold;
      font-family: "PT Sans", "Verdana", sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      background-color: @blue-color;
      border: 0 none;
        &:hover {
          background-color: #669ec0;
        }
        &:active {
          color: rgba(255, 255, 255, 0.3);
          background-color: #5496bd;
        }
    }
}
@media (min-width: @width-tablet) {
  .feedback {
    padding-right: 59px;
    padding-left: 59px;
      &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 68px;
        border-top: 0 none;
          &--attraction {
            justify-content: center;
            padding-bottom: 20px;
              & .feedback__wrapper {
                margin-bottom: 40px;
              }
          }
          &--impression {
              padding-bottom: 35px;
              & .feedback__wrapper {
                margin-bottom: 40px;
              }
          }
          &:nth-of-type(3) {
            padding-bottom: 65px;
          }
          &:nth-of-type(4) {
            padding-bottom: 55px;
          }
          &:nth-of-type(6) {
            padding-bottom: 27px;
          }
      }
      &__wrapper {
        position: relative;
        width: 100%;
        text-align: center;
          &::before {
            content: "";
            position: relative;
            display: block;
            top: 13px;
            border-bottom: 1px solid #dbdbdb;
            z-index: 0;
          }
      }
      &__title {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 400px;
        font-size: 21px;
        background-color: #ffffff;
        z-index: 5;
      }
      &__doublet {
        display: inline-block;
        padding-bottom: 0;
        width: 27%;
        min-width: 176px;
      }
      &__impression-label {
        width: auto;
      }
      &__group {
        margin: 0 auto;
        width: 27%;
          &--bottom {
            margin-bottom: 21px;
          }
      }
      &__text {
        width: 100%;
        text-align: left;
          &--not-padding {
            padding-left: 0;
            width: 120%;
          }
      }
      &__attraction-label {
        margin-bottom: 35px;
        width: 250px;
        transform: translateX(10%);
      }
      &__download-label {
        margin: 0 96px;
        margin-top: 30px;
        margin-bottom: 90px;
        width: 100%;
      }
      &__container {
        margin: 0 96px;
        margin-bottom: 25px;
      }
  }
}
@media (min-width: @width-desktop) {
  .feedback {
    padding-right: 122px;
    padding-left: 122px;
      &__block {
          &--impression {
            justify-content: center;
          }
          &--attraction {
              & .feedback__wrapper::before {
                top:25px;
              }
          }
      }
      &__impression-label {
          &:first-of-type {
            margin-right: 50px;
          }
          &:last-of-type {
            margin-left: 50px;
          }
      }
      &__attraction-label {
        width: 25%;
        transform: translateX(0%);
      }
      &__doublet {
        width: 29.07%;

      }
      &__group {
        width: 29.07%;
          &--bottom {
            margin: 0;
            margin-bottom: 22px;
          }
      }
      &__download-label {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 60px;
        width: 100%;
      }
      &__container {
        margin: 0 249px;
      }
  }
}
