.main-logo {
  position: absolute;
  top: 56px * 4 - 2;
  width: 138px;
  left: 50%;
  transform: translateX(-50%);
    &__img{
      width: 100%;
      display: block;
    }
}
@media (min-width: @width-tablet) {
  .main-logo {
    top: 0px;
  }
}
